<%- include("header") -%>

    <div class="box" id="heading">
   <% if (listTitle === "Saturday" || listTitle === "Sunday") { %>
        <h1 style="color: purple"> <%=  %> </h1>
  <%  } else { %>
        <h1 style="color: blue"> <%= listTitle %> </h1>
    <% } %>
  </div>
    <div class="box">
          <%  for (var i = 0; i < newListItems.length; i++){ %>
            <div class="item">
                <input type="checkbox">
               <p> <%= newListItems[i] %> </p>  
            </div>
           <% } %>
    
    
    <form  class="item" action="/" method="POST">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value="<%= listTitle %>"> + </button>

    </form>
</div>

<%- include("footer") -%>
